

<nav class="navbar" >
	<a href="{% url 'listings:index' %}">Bike Finder</a>
	<a href="{% url 'listings:all_listings' %}">Listings</a>
	<a href="{% url 'listings:new_listing' %}">New Listings</a>
	{% if user.is_authenticated %}
	<a href="{% url 'listings:my_listings' %}">My Listings</a>
	{{user.username}}-
	<a href="{% url 'users:log_out' %}">LOG OUT</a>
	{% else %}
	<a href="{% url 'users:login' %}">LOGIN</a>
	<a href="{% url 'users:register' %}">REGISTER</a>
	{% endif %}
</nav>





{% block content %}

{% endblock content %}