{% extends "listings/base.html" %}

{% block content %}

<div class="card text-dark bg-transparent" style="max-width:100rem;">
	<div class="card-header text-center"><h1 class="font-weight-bold">EDITING</h1>
		
	</div>
	
</div>
<p>
	<form action="{% url 'listings:edit_listing' listing.id %}" method="post" enctype="multipart/form-data">
</p>
<form>
	<div class="form-group">
		{% csrf_token %}
		{{form.as_p}}
	</div>
	<button type="submit" class="btn">Edit Listing</button>
</form>
</ul>
{% endblock content %}	
	
		
	


